---
const {post} = Astro.props;
---

<li class="vidcard-post__preview">
  <a href={post.href}>
    <img src={post.featuredImage} />
  </a>
  <h3>{post.title}</h3>
  {post.excerpt && <p>{post.excerpt}</p>}
</li>


<style>
.vidcard-post__preview img {
  margin-bottom: 1rem;
  border-radius: calc(var(--theme-shape-radius) /2);
  transition: border-radius var(--theme-transition);
}
.vidcard-post__preview:hover img {
  border-radius: var(--theme-shape-radius);
}
.vidcard-post__preview a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.vidcard-post__preview h3 {
  margin: 0;
}
</style> 